.content-card > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../images/gadgets-card.jpg') center / cover;
}

.mdl-card__title button {
  align-self: flex-end;
  background: rgba(202, 202, 202, 0.9)
}

.mdl-card__title-text{
  flex: 1 0 0;
}
